.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    /* Ajusta el valor de z-index según sea necesario */
    font-family: "Poppins", sans-serif;
    color: #f7f7f7;    
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.up{
    width: 100%;
    height: 3rem;
    background: var(--Second-color);
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--white-mode)
}
.down{
    width: 100%;
    height: 4rem;
    background: var(--Primari-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.div1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
     width: 5rem;
     height: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.div2{
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.div2 div{
   font-family: "Poppins", sans-serif;
   font-weight: bold;
    margin-right: 3rem;
}

.div3{
    display: flex;
    flex-direction: row;
    padding: 5px;   
    width: 25rem;
    justify-content: space-around;
}