:root {
  /* Dark variables */
  --darkPrimaryColorBg: #242424;
  --darkSecondColorBg: rgb(61, 62, 62);
  --boxShadow: 4px 12px 40px 6px #9b989817;
  /* white variables */
  --whitePrimaryColor: #ff5900;
  --secondColor:#fffcf6;
  --whiteSecondColor: rgba(215, 209, 209, 0.571);
  /* new colors */
  --primaryColor:#064439;
  --letter:rgb(255 255 255 / 16%);
  --boxShadowBasic: 0px 0px 15px black;
  
  --colorBorder: rgb(255 255 255 / 16%);
  --color-background: #181818;
   
}




