.profile{
    height: auto;
    background-color: var(--Second-color);
    

}
 
.body{
    width: 100%;
    height:auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    position: relative;
    
}
.left{
    position: fixed;
    top: 10;
    left: 0;
    width: auto;
    z-index: 999; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.73);
  
}

.right{
  width: 1450px;
  height: auto;
  margin-left:3.5rem ;

}
/* .right{
    max-width: 1500px;
    margin-left: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    overflow-x: hidden;

} */