.home{
  width: 100%;
  height: auto;
  background-color: var(--Second-color);
  /* background-color: red; */
}

.body{
    margin-top: 120px;
    width: 100%;
    /* height: auto; */
    height: auto;
    display: flex;
    flex-direction: column;   
    align-items: center;
    
}
.botonera{
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}  
.container{
    width: 100%;
    height: auto;
    margin-top: 30px;   
    display: flex;
    flex-direction: row; 
    background-color: red;
    justify-content: center;
    align-items: center;
   
 
}

.containerRight{
  height: auto;
  width: 80%;
  margin-left: 7px;
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  /* gap: 10px; */

}
/* .cardContainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 10px; 
  overflow-x: hidden;

} */