.card{
    position:relative;
    width: 250px;
    height: 300px;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
    box-shadow:var(--card-boxShadow-white-mode) ;

    
}

.up{
    width: 70%;
    height: 120px;
    position: absolute;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}
.up img{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    cursor: pointer;
   
} 
.up img:hover{
    transition: transform 0.3s;
    /* transform: scale(0.9); */
    transform: scale(1.1);
    box-shadow:var(--image-boxShadow-white-mode) ;
}

 

.down{
    width: 85%;
    height: 90%;
    margin-top: 15px;
    background-color: var(--cardSecond-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info{
    margin-top: 110px;
    width: 100%;
    height: 62%;
    border-top: 1px solid rgba(0, 0, 0, 0.552);
    display: flex;
    flex-direction: column;
    
}

.info1{
    display: flex;
    justify-content: start;
    margin-left: 2px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.buyNow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 245, 8, 0.877);
    width: 100%;
    height: 30px;
    font-size: large;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.759);
    margin-bottom: 7px;
}

.addCart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 108, 237, 0.877);
    width: 100%;
    height: 30px;
    font-size: large;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.759);
}

