:root {
  --color-white: #ffffff;
  --color-gray: #9e9e9e;
  --color-bg: #333333;
  --color-sidebar-bg: #2c2c2c;
  --color-tab-hover: #333333;

  --p-inline: 1rem;
  --p-block: 2rem;
  --row-gap: 2rem;
  --col-gap: 1rem;
  --border-radius: 1.25rem;

  --fs-small: 0.8rem;
  --fs-medium: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-height: 50vh;
  width: 100%;
  background-color: var(--color-bg);
  font-family: "Poppins";
}

ul, menu {
  list-style: none;
}

.sidebar {
  --_inner-width: calc(45px + calc(var(--p-inline) * 2));
  height: 100vh;
  width: fit-content;
  background-color: var(--color-sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-gray);
  /* padding-inline: var(--p-inline);
  padding-block: var(--p-block); */
  /* border-start-end-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius); */
}

.sidebar .sidebarTop {
  width: 100%;
  display: grid;
  grid-template-rows: 4rem 4rem 1fr;
  /* row-gap: var(--row-gap); */
}

.sidebar .sidebarTop .header {
  padding-inline: var(--p-inline);
  display: grid;
  grid-template-columns: 45px;
  align-items: center;
  /* column-gap: var(--col-gap); */
}

.sidebar .sidebarTop .header .name {
  font-size: var(--fs-medium);
  color: var(--color-white);
}

.sidebar .sidebarTop .searchBox {
  padding-inline: var(--p-inline);
  width: var(--_inner-width);
  border-radius: var(--border-radius);
  background-color: var(--color-tab-hover);
}

.sidebar .sidebarTop .searchBox input {
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
}

.sidebar .sidebarTop .sideNavLink {
  padding-inline: var(--p-inline);
  padding-block: calc(var(--p-block) * 0.5);
  width: var(--_inner-width);
  border-radius: calc(var(--border-radius) * 0.5);
}

.sidebar .sidebarTop .sideNavLink .icon {
  height: 25px;
}

.sidebar .sidebarTop :where(.searchBox, .sideNavLink, .header) .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar .sidebarTop .sideNavItem:hover .sideNavLink {
  background-color: var(--color-tab-hover);
}

.sidebar .sidebarBottom {
  width: var(--_inner-width);
}

.sidebar .sidebarBottom .profile {
  padding: var(--p-inline);
  /* padding-block: var(--p-block); */
  border-radius: calc(var(--border-radius) * 0.5);
  background-color: var(--color-tab-hover);
  /* background-color: red; */
  margin-top: -170px;
}

.sidebar .sidebarBottom .profile .profilePic {
  height: 100%;
  width: 45px;
}

.sidebar .sidebarBottom .profile .profileDetails {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebarBottom .profile .userName {
  color: var(--color-white);
}

.sidebar .sidebarBottom .profile .userEmail {
  font-size: var(--fs-small);
}

.sidebar .header, .sidebar .searchBox, .sidebar .sideNavLink, .sidebar .profile {
  display: grid;
  grid-template-columns: 45px;
}

.sidebar .text, .sidebar .userSearch, .sidebar .profileDetails > *, .sidebar .name, .sidebar #id {
  display: none;
}

.sidebar:hover {
  --_inner-width: 100%;
}

.sidebar:hover .header {
  grid-template-columns: 45px 1fr;
}

.sidebar:hover .text, .sidebar:hover .userSearch, .sidebar:hover .profileDetails > *, .sidebar:hover .name, .sidebar:hover #id {
  display: block;
}

.sidebar:hover .searchBox, .sidebar:hover .sideNavLink, .sidebar:hover .profile {
  grid-template-columns: 45px 1fr;
  column-gap: var(--col-gap);
}
